[submodule "android-basics-kotlin-dogglers-app"]
	path = android-basics-kotlin-dogglers-app
	url = https://github.com/Abhiroop25902/android-basics-kotlin-dogglers-app
[submodule "android-basics-kotlin-words-app"]
	path = android-basics-kotlin-words-app
	url = https://github.com/Abhiroop25902/android-basics-kotlin-words-app
